.section {
  overflow: hidden;
  min-height: 100vh;
}

.pfp {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.hidden-section-l {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.hidden-section-r {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(50%);
  transition: all 0.5s ease-in-out;
}

.hidden-section-t {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}

.hidden-section-b {
  opacity: 0;
  filter: blur(50%);
  transition: all 0.5s ease-in-out;
}

.show-section-tb {
  filter: blur(0px);
  transform: translateY(0%);
  opacity: 1;
}

.show-section-lr {
  filter: blur(0px);
  transform: translateX(0%);
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .hidden-section {
    transition: none;
  }
}

@media (min-width: 1501px) {
  .section {
    max-width: 1760px;
  }
}

@media (min-width: 701px) and (max-width: 1500px) {
  .section {
    padding: 0 2rem;
    max-width: 1500px;
  }
}

@media (min-width: 581px) and (max-width: 700px) {
  .section {
    padding: 0 0rem;
  }
  .pfp {
    max-width: 250px;
    max-height: 250px;
  }
}

@media (min-width: 451px) and (max-width: 580px) {
  .section {
    padding: 0 2rem;
  }

  .pfp {
    max-width: 250px;
    max-height: 250px;
  }
}

/* media between 300 and 500  */
@media (min-width: 300px) and (max-width: 450px) {
  .section {
    padding: 0 0rem;
  }

  .pfp {
    max-width: 150px;
    max-height: 150px;
  }
}

@media (max-height: 1000px) and (max-width: 1000px) {
  .section {
    margin-bottom: 15rem;
  }
}
