@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #333;
  --primary-color: #4394d1;
  --accent-color: #70bbb2;
  --background-color: #f0f0f0;
  --secondary-color: #b7c98e;
  --detail-color: #879663;
  --nav-menu-color: #94c062;
}

[data-theme="dark"] {
  --text-color: #fff;
  --primary-color: #3891d1;
  --accent-color: #52a392;
  --background-color: #3d3c3b;
  --secondary-color: #5a6149;
  --detail-color: #d1e29a;
  --nav-menu-color: #c7ff87;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-detail {
  background-color: var(--detail-color);
}

.bg-nav-menu {
  background-color: var(--nav-menu-color);
}

.txt-primary {
  color: var(--primary-color);
}

.txt-accent {
  color: var(--accent-color);
}

.txt-secondary {
  color: var(--secondary-color);
}

.txt-detail {
  color: var(--detail-color);
}

.txt-nav-menu {
  color: var(--nav-menu-color);
}
